$border: solid 1px #000
$police:monospace

*
    padding: 0
    margin: 0


body
    background-color:#F6F8FF
    height: 98vh
    display: flex
    align-items: center
    justify-content: center

main
    border: $border
    width: 730px
    height: 586px
    display: flex
    flex-direction: column
    justify-content: space-between

/*En-tête*/

    
.title
    width: 100%
    height: 38px
    display: flex
    justify-content: space-between
    align-items: center

h2
    font-family: $police
    font-size: 26px

/*------------Fin d'entête-----------------------*/


/*----------- Début bar de recherche-------------*/


.search
    width: 100%
    height: 69px
    background: #fefefe
    border-radius: 15px
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567) 
    display: flex
    align-items: center


::placeholder
    font-family: $police
    font-weight: 400
    font-size: 18px
    color: #4B6A9B
    
input
    width:70%
    height: 90%
    margin-left:20px
    border:0
    outline: none

.loupe
    display: flex
    align-items: center
    width: 24px
    height: 24px

.placement 
    width: 100%
    height:100%
    display: flex
    align-items: center
    margin-left: 35px

.btnsearch
    background: #0079FF
    color: #FFFFFF
    width: 106px
    height: 50px
    margin-right: 10px
    font-family: $police
    font-size: 16px
    font-weight: bold
    border-radius: 10px
    box-shadow: 0px 16px 30px -10px rgba(70, 88, 109, 0.197785)
    border: none

.btnsearch:active
    transform: translateY(1px)
    
    
/*---------------Fin de barre de recherche----------------------*/

/*------------------------Contenue------------------------------*/

.ctnue
    width: 100%
    height: 419px
    background: #FEFEFE
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567)
    border-radius: 15px

.ligne1
    display: flex
    align-items: center

.imgcat
    width: 164px
    height: 171px
    display: flex
    justify-content: flex-end
    align-items: flex-end


.catimg
    border-radius: 90px
    width: 117px
    height: 117px 

.titetdate
    height: 65px
    margin-left: 40px

.titetdate h2 
    color:#2B3442 
    font-size: 26px
    font-family: $police
    font-weight: 700
    

.titetdate p 
    color: #0079FF
    font-size: 15px
    font-family: $police

.placep
    width: 40%
    display: flex
    justify-content: flex-end
    margin-bottom: 30px

.placep p 
    color: #697C9A
    font-family: $police
    font-size: 15px

  




    

    
    
    

    
    
